@tailwind base;
@tailwind components;
@tailwind utilities;

br {
  display: block;
  content: "";
  margin-top: 1em;
}

a {
  color: #4582ec !important;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
